@model TGTOAT.Models.PaymentViewModel

@{
    ViewData["Title"] = "Login";

    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<div class="container w-50">
    <div class="text-center">
        <h1>@($"{Model.FirstName} {Model.LastName}'s Account")</h1>
        <hr />
        @if (ViewBag.SuccessMessage != null)
        {
            @if (ViewBag.SuccessMessage == "Payment successful!")
            {
                <div class="alert alert-success" role="alert">
                    @ViewBag.SuccessMessage
                </div>
            }
            else
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.SuccessMessage
                </div>
            }
        }
        <dl class="row">
            <!-- Display every course and how much it costs -->
            @foreach (var course in Model.Courses)
            {
                <dt class="col-sm-6 text-end">
                    @(course.CourseName + ":")
                </dt>
                <dd class="col-sm-6 text-start">
                    @string.Format("{0:C}", course.NumberOfCredits * 100)
                </dd>
            }
        
            <!-- Calculate amount paid -->
            @if (Model.AmountPaid != 0)
            {
                <dt class="col-sm-6 text-end">
                    Amount paid:
                </dt>
                <dd class="col-sm-6 text-start">
                    @("-" + string.Format("{0:C}", Model.AmountPaid))
                </dd>
            }
            
            <!-- Adding a line break -->
            <dt class="col-sm-6 text-end">
                <br />
            </dt>
            <dd class="col-sm-6 text-start">
                <br />
            </dd>

            <!-- Display the total amount due -->
            <dt class="col-sm-6 text-end">
                <span style="font-size: larger;">
                    Total:
                </span>
            </dt>
            <dd class="col-sm-6 text-start">
                <span style="font-size: larger;">
                    @string.Format("{0:C}", Model.AmountDue)
                </span>
            </dd>
        </dl>

        <!-- Ask how much they want to pay for it -->
        <div class="form-group">
            <form asp-controller="User" asp-action="Checkout" method="get">
                <label for="amount">How much would you like to pay?</label>
                <input type="number" class="form-control w-50 mx-auto text-center" id="amount" name="amount" placeholder="Enter amount">
                <button type="submit" class="btn btn-success mt-2">Pay Now</button>
            </form>
        </div>
    

    </div>
</div>

<script async
  src="https://js.stripe.com/v3/buy-button.js">
</script>