@model UserIndexViewModel

@{
    ViewData["Title"] = "Home";

    if (Model.UserRole == "Student")
    {
        Layout = "~/Views/Shared/_StudentLayout.cshtml";
    }
    else if (Model.UserRole == "Instructor")
    {
        Layout = "~/Views/Shared/_InstructorLayout.cshtml";
    }
}

<h1 class="text-center">Welcome, @Model.FirstName @Model.LastName, @Model.UserRole</h1>

<div class="row">
    <!-- Cards column -->
    <div class="col-md-10 card-container">
        <!-- Print every class, if there is any -->
        @if (Model.Courses.Count != 0)
        {
            @foreach (var course in Model.Courses)
            {
                <div class="card" style="color:@course.Color; border: @course.Color solid 2px; ">
                    <!--<a class="classColorPick" href="javascript:void(0)"><i class="fa-regular fa-palette"></i></a>-->
                    <a class="class-link" asp-area="" asp-controller="Course" asp-action="Index" asp-route-id="@course.CourseId">
                        <img href="">
                        <div class="card-info">
                            <p class="class-info" style="color:@course.Color;">@course.DeptName @course.CourseNum @course.Campus</p>
                            <p class="class-info" style="color:@course.Color;">@course.CourseName - @course.Semester @course.Year</p>
                            @if(course.Days == "Onl")
                            {
                                <p class="class-time" style="color:@course.Color;">@course.Days</p>
                            }
                            else
                            {
                                <p class="class-time" style="color:@course.Color;">@course.Days - @course.StartTime-@course.StopTime</p>
                            }
                            
                        </div>
                    </a>
                    <div class="card-icons">
                        <a href="#" title="Announcements"><i class="fa-solid fa-bullhorn"></i></a>
                        <a href="#" title="Assignments"><i class="fa-light fa-books"></i></a>
                        <a href="#" title="Discussions"><i class="fa-light fa-comments"></i></a>
                        <a href="#" title="Grades"><i class="fa-solid fa-award"></i></a>
                    </div>
                </div>
            }
        }
        else
        {
            <div>
                @if(Model.UserRole == "Student")
                {
                    <p>You haven't registered for any classes</p>
                }
                else
                {
                    <p>You haven't created any classes</p>
                }
                
            </div>
        }
    </div>

    <!-- To-do list column
    <div class="col-md-2">
        <div class="todo">
            <h3>To Do</h3>
        </div>
        <div class="todo-items">

        </div>
    </div>
    -->

</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
