@model CourseHome

@{
    ViewData["Title"] = "Home";

    if (Model.UserRole == "Student")
    {
        Layout = "~/Views/Shared/_StudentCourse.cshtml";
    }
    else if (Model.UserRole == "Instructor")
    {
        Layout = "~/Views/Shared/_InstructorCourse.cshtml";
    }
}

<h1 class="h1-course">@Model.Department @Model.CourseNum @Model.UserRole</h1>
<hr/>

<div class="course-row">
    <div class="course-nav">
        <a class="nav-link course-curr" asp-area="" asp-controller="Course" asp-action="Index" asp-route-id="@Model.CourseId">
            Home
        </a>
        <a class="nav-link" asp-area="" asp-controller="Course" asp-action="Assignments" asp-route-id="@Model.CourseId">
            Assignments
        </a>
        <a class="nav-link" asp-area="" asp-controller="Course" asp-action="Quizzes" asp-route-id="@Model.CourseId">
            Quizzes
        </a>
        <a class="nav-link" asp-area="" asp-controller="Course" asp-action="Grades" asp-route-id="@Model.CourseId">
            Grades
        </a>
    </div>

</div>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
