@model TakeQuizModel

@{
    ViewData["Title"] = "Home";

    Layout = "~/Views/Shared/_StudentCourse.cshtml";

}

<h1 class="h1-course">@Model.QuizName</h1>

<h4>@Model.QuizDescription</h4>
<h5>Due - @Model.DueDateAndTime</h5>

<!--
<div class="question-nav">
    @for (int i = 1; i < Int32.Parse(Model.NumQuestions)+1; i++)
    {
        <p>Question @i</p>
    }
</div>
-->
<form asp-action="SubmitQuiz" asp-controller="Course" method="post">
<div class="container ">
    <input type="hidden" asp-for="QuizId" />
    <input id="quizSub" asp-for="Submission" style="display:none;"/>
        <p style="display:none;" id="numQuest">@(Int32.Parse(Model.NumQuestions)+1)</p>

        @{
            string[] wholeQuestion = Model.Questions.Split('з');
            int rb = 1;
            int rbl = 1;
            for(int i = 0; i < Int32.Parse(Model.NumQuestions); i++)
        {
            
            string[] points = wholeQuestion[i].Split('п');
            <div class="questCard">
                <div class="questTop">
                    <h4 class="questTitle">Question @(i+1)</h4>
                    <h6 class="questPoint">@points[1] Points</h6>
                </div>
                @{string[] type = points[0].Split('д');}

                @{if (Int32.Parse(type[0]) == 1)
                {
                    <div class="questBot form-group">
                        <h5 class="question">@type[1]</h5>
                            <div class="row justify-content-center">
                                <div class="form-group col-md-8">
                                    <textarea class="form-control text-entry" required></textarea>
                                </div>
                            </div>
                    </div>
                }
                else
                {
                    var ans = type[1].Split("ж");
                    string[] mc = ans[1].Split('ч');
                    <div class="questBot">
                    <h5 class="question">@ans[0]</h5>
                    @{for(int j=1; j<mc.Length; j++)
                    {
                        if (mc[j].Contains("г")){
                            var ca = mc[j].Split("г");
                            mc[j] = ca[1];
                        }
                        
                        <div class="form-group">
                            <input class="mcChoice" type="radio" name="radioChoice@(rbl)" id="radioChoice@(rb)" required>
                            <label for="radioChoice@(rb)">@mc[j]</label>
                            </div>
                            rb++;
                        }

                    }
                    @{rbl++;}
                    </div>
                }      
                }
            </div>
            <p></p>
        }
    }

</div>
    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary col-md-3" onclick="CompileAnswers()">Submit</button>
    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script src="~/js/quizCompile.js" asp-append-version="true"></script>
