@model CourseHome

@{
    ViewData["Title"] = "Home";

    if (Model.UserRole == "Student")
    {
        Layout = "~/Views/Shared/_StudentCourse.cshtml";
    }
    else if (Model.UserRole == "Instructor")
    {
        Layout = "~/Views/Shared/_InstructorCourse.cshtml";
    }
    else
    {
    }

}



<h1 class="h1-course">@Model.Department @Model.CourseNum - @Model.UserRole</h1>
<hr />
<div class="course-row">
    <div class="course-nav">
        <a class="nav-link" asp-area="" asp-controller="Course" asp-action="Index" asp-route-id="@Model.CourseId">
            Home
        </a>
        <a class="nav-link" asp-area="" asp-controller="Course" asp-action="Assignments" asp-route-id="@Model.CourseId">
            Assignments
        </a>
        <a class="nav-link course-curr" asp-area="" asp-controller="Course" asp-action="Quizzes" asp-route-id="@Model.CourseId">
            Quizzes
        </a>
        <a class="nav-link" asp-area="" asp-controller="Course" asp-action="Grades" asp-route-id="@Model.CourseId">
            Grades
        </a>
    </div>
    <div class="row assignCont">
        @{

            if (Model.UserRole == "Student")
            {

                @foreach (var quiz in Model.Quizzes)
                {
                    <div class="row" style="align-items: center;">
                        <!-- Assignment details -->
                        <div class="col-md-6 text-left">
                            <p class="assign-title">@quiz.QuizName</p>
                            <p class="assign-info"><span class="due">Due:</span> @quiz.DueDate.ToString("MM/dd/yyyy 'at' hh:mm tt")&emsp;@quiz.MaxPoints Points&emsp;@quiz.NumQuestions Questions</p>
                        </div>

                        <!-- Submit -->
                        <div class="col-md-6 text-right">
                            <div class="col-md-6 text-right">

                                @{
                                    if (!Model.studentQuizzes.Any())
                                    {
                                        <a class="btn btn-primary" asp-area="" asp-controller="Course" asp-action="Quiz" asp-route-id="@Model.CourseId" asp-route-quizId="@quiz.QuizId">
                                            Take
                                        </a>
                                    }
                                    else
                                    {
                                        foreach (var sub in Model.studentQuizzes)
                                        {
          
                                            if (sub.QuizId == quiz.QuizId)
                                            {
                                                <a class="btn btn-primary" asp-area="" asp-controller="Course" asp-action="ViewQuiz" asp-route-id="@Model.CourseId" asp-route-quizId="@quiz.QuizId">
                                                    View Submission
                                                </a>
                                                break;
                                            }
                                            else
                                            {
                                                <a class="btn btn-primary" asp-area="" asp-controller="Course" asp-action="Quiz" asp-route-id="@Model.CourseId" asp-route-quizId="@quiz.QuizId">
                                                    Take
                                                </a>
                                                break;
                                            }
                                        }
                                    }


                                }


                            </div>

                        </div>

                    </div>
                }
                
            }
            else if (Model.UserRole == "Instructor")
            {
                <div class="container add-btn">
                    <a class="btn btn-primary" asp-area="" asp-controller="Course" asp-route-id="@Model.CourseId" asp-action="AddQuiz">Add Quiz</a>
                </div>

                @foreach (var quiz in Model.Quizzes)
                {
                    <div class="row" style="align-items: center;">
                        <div class="col-md-6 text-left">
                            <strong>@quiz.QuizName</strong> - Due: @quiz.DueDate.ToString("MM/dd/yyyy hh:mm tt")
                        </div>
                        <div class="col-md-6 text-right">
                            <a class="btn btn-primary" asp-area="" asp-controller="Course" asp-action="ViewSubmissions" asp-route-id="@Model.CourseId" asp-route-quizId="@quiz.QuizId">
                                View Submissions
                            </a>
                        </div>
                    </div>
                }
            }

        }
    </div>

</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
