@model SubmitAssignmentViewModel

<h1>@Model.AssignmentName</h1>

@{
    ViewData["Title"] = "Submit Assignment";


    Layout = "~/Views/Shared/_StudentCourse.cshtml";

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>
    }
}
<div class="row col-md-8 justify-content-between submit-page">
        <input type="hidden" name="AssignmentId" value="@Model.AssignmentId" />

    <div class="col-md-4">
        <p><strong>Due:</strong> @Model.DueDateAndTime</p>
    </div>
    <div class="col-md-4">
        <p><strong>Points:</strong> @Model.Points</p>
    </div>

    <div col-md-8>
        <p><strong>Submission Type:</strong> @Model.SubmissionType</p>

        <p><strong>Description:</strong> @Model.Description</p>
    </div>
    
    @if(Model.SubmissionType == "text"){
        <p><strong>Submission:</strong></p>
        <p>@Model.Submission</p>
    }


    <p class=""><strong>Grade:</strong></P>
        @{
           @if (@Model.Grade == null)
           {
           <p>not yet graded</p>
           }
            else
            {
            <p>@Model.Grade</p>
            }
        }

        <a class="btn btn-primary" asp-area="" asp-controller="Course" asp-action="ReSubmitPage" asp-route-assignmentId="@Model.AssignmentId">
            Resubmit
        </a>
</div>

   

